#container{
    height:300px;
    width:300px;
    background: papayawhip;
    text-align: center;
    font-family:'M PLUS 1p', sans-serif;
    font-size: 16px;
    margin: auto;
    padding: 10px 10px;
    position: relative;
}
h1{
    color: pink;
}
button{
    height: 80px;
    width: 80px;
    font-size: 32px;
    cursor: pointer;
    border-radius: 50%;
}

#timer{
    height: 80px;
    width: 250px;
    background: pink;
    margin: auto;
    padding: 5px 5px;
    text-align: center;
    font-size: 32px;
    position: absolute;
    right: 20px;
    left: 20px;
    top: 200px;
    bottom: 20px;
    text-align: center;
    line-height: 80px;
    color: white;
}